:root{
    --light: #ffffff;
    --dark: #27334d;
    --grey: #d4e0fa;
}

/* styles pour le changement de thème */
body.light-theme {
    background-color: var(--light);
    color: var(--dark);
    transition: .5s;
}

body.dark-theme {
    background-color: var(--dark);
    color: var(--light) !important;
    transition: .5s;
}

/* style de la page */

.header{
    display: flex;
    flex: row nowrap ;
    width: 100%;
    align-items: center;
}

.nav{
    display: block;
    width: 90%;
}
.menu-liste{
    display: flex;
    flex: row nowrap ;
    justify-content: flex-start;

    list-style: none;
}

.menu-liste-items{
    margin: 0.5rem 1rem 0;
}

.btn-menu{

}

/* transitions */
th:hover{
    background-color: var(--grey);
}

/************************/
