{# menu/index.html.twig #}

<nav>
    <ul>
        <li><a href="{{ path('article_index') }}">Articles</a></li>
        <li><a href="{{ path('category_index') }}">Categories</a></li>
        {# Add more links as needed #}
    </ul>
</nav>
